<h1>Hola! Porfavor, confirma tu email</h1>

<p>
    Confirma tu email haciendo click en el siguiente enclace: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi email</a>.
    Este enlace caducará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Saludos!
</p>
